html {
    color-scheme: dark;
}

body {
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form {
    max-width: 40rem;
    width: 40rem;
    display: flex;
    gap: 1rem;
}

.btn-icon {
    display: flex;
    align-items: center;
}

.todo-group {
    display: flex;
    gap: 1rem;
}

.todo-item {
    width: 100%;
    justify-content: space-between;
    display: flex;
}

.todos-group {
    margin-top: 1rem;
    width: 40rem;
    max-height: 40rem;
    height: 40rem;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}

.error-1 {
    border: 1px solid red;
}

.status-1 {
    color: #f0f0f0;
    text-decoration-line: line-through;
}

h3 {
    font-size: 1.4rem;
}

.todo-title {
    display: flex;
    flex-direction: column;
}

.todo-title p {
    margin: 0;
}